<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Rhythm Buddy</h1>
    </div>
    <div class="chat-container">
        <div class="chat-panel">
            <div class="chat-header">Chatbot</div>
            <div class="chat-messages" id="chat-messages"></div>
            <div class="chat-input-container">
                <input type="text" id="user-input" class="chat-input" placeholder="Type your message...">
                <button id="send-btn" class="send-btn">Send</button>
            </div>
        </div>
        <div class="chat-panel songs-panel" id="songs-panel">
            <div class="chat-header">Recommended Songs</div>
            <div class="chat-messages" id="songs-list"></div>
        </div>
    </div>
    <div class="navbar">
        <button id="recommend-songs-btn" class="recommend-songs-btn">Recommend Songs</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
